#bg {
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#add_to_fav_block {
    cursor: pointer;
    background-color: rgba(249.6875050663948, 232.20940053462982, 205.99219053983688, 0.23999999463558197);
    opacity: 1;
    width: 160px;
    height: 60px;
    position: absolute;
    right: 7%;
    top: 5%;
    border-top-left-radius: 58px;
    border-top-right-radius: 58px;
    border-bottom-left-radius: 58px;
    border-bottom-right-radius: 58px;
}

#heart_button {
    opacity: 1;
    width: 34px;
    /* height: 68px; */
    position: absolute;
    left: 8%;
    top: 20%;
    outline: none;
}

#add_to_fav_text {
    color: rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 1);
    opacity: 1;
    position: absolute;
    left: 35%;
    top: 18%;
    font-family: Montserrat;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    line-height: undefined;
}

#book_block {
    opacity: 1;
    width: 90%;
    /* height: 60px; */
    position: absolute;
    left: 7%;
    top: 17%;
}

.book_title {
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    font-family: Tenor Sans;
    text-align: left;
    letter-spacing: 0;
    line-height: undefined;
    font-size: 22px;
}

.book_text {
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    font-family: Montserrat;
    text-align: left;
    letter-spacing: 0;
    line-height: undefined;
    font-size: 16px;
}