#bg {
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#menu {
    background-color: rgba(227.37499594688416, 220.83796352148056, 213.1640625, 0.6000000238418579);
    opacity: 1;
    width: 100%;
    height: 10%;
    position: absolute;
    left: 0px;
    top: 0px;
}

#upperlitSearch {
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    left: 58px;
    top: 20%;
    font-family: Tenor Sans;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0;
    line-height: undefined;
}

.icon {
    opacity: 1;
    width: 32px;
    position: absolute;
    top: 25%;
}

#user_icon {
    right: 3%;
}

#heart_icon {
    right: 8%;
}

#search_icon {
    right: 13%;
}

#main_block {
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#favs_text {
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    font-family: Tenor Sans;
    text-align: left;
    font-size: 30px;
    letter-spacing: 0;
    line-height: undefined;
}

.book {
    position: absolute;
    width: 330px;
    height: 130px;
}

.book_block {
    background-color: rgba(249.6875050663948, 232.20940053462982, 205.99219053983688, 0.3700000047683716);
    opacity: 1;
    width: 300px;
    height: 130px;
    position: absolute;
}

.book_block_up {
    top: 10%;
}

.book_block_average {
    top: 35%;
}

.book_block_down {
    top: 60%;
}

.book_block_left {
    left: 0%;
}

.book_block_middle {
    left: 35%;
}

.book_block_right {
    left: 70%;
}

#book_title {
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    font-family: Tenor Sans;
    left: 3%;
    top: 2%;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    line-height: undefined;
}

#book_text {
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    font-family: Montserrat;
    left: 3%;
    top: 25%;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
    line-height: undefined;
}

.delete_button {
    opacity: 1;
    width: 20px;
    position: absolute;
    right: 2%;
    outline: none;
}

.page_block {
    opacity: 1;
    position: absolute;
    width: 10%;
    height: 10%;
    top: 85%;
}

#prev_page_block {
    left: 0%;
}

#next_page_block {
    right: 7%;
}

.page_text {
    color: #747474;
    opacity: 1;
    position: absolute;
    font-family: Tenor Sans;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
    line-height: undefined;
}

#prev_page_text {
    left: 45%;
}

.arrow_icon {
    opacity: 1;
    width: 40px;
    height: 25px;
    position: absolute;
    top: 10%;
    background-repeat: no-repeat;
}

#arrow_icon_prev {
    transform: rotate(180deg);
}

#arrow_icon_next {
    left: 80%;
}