#bg {
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#menu {
    background-color: rgba(227.37499594688416, 220.83796352148056, 213.1640625, 0.6000000238418579);
    opacity: 1;
    width: 100%;
    height: 10%;
    position: absolute;
    left: 0px;
    top: 0px;
}

#upperlitSearch {
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    left: 58px;
    top: 20%;
    font-family: Tenor Sans;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0;
    line-height: undefined;
}

.icon {
    opacity: 1;
    width: 32px;
    position: absolute;
    top: 25%;
}

#user_icon {
    right: 3%;
}

#heart_icon {
    right: 8%;
}

#search_icon {
    right: 13%;
}

#form_block {
    opacity: 1;
    width: 30%;
    height: 65%;
    position: absolute;
    left: 33%;
    top: 20%;
    background-color: rgba(249.6875050663948, 232.20940053462982, 205.99219053983688, 0.2199999988079071);
    border: 1px solid #afafaf;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#signup_text {
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    left: 32%;
    top: 5%;
    font-family: Tenor Sans;
    text-align: left;
    font-size: 26px;
    letter-spacing: 0;
    line-height: undefined;
}

.input_block {
    opacity: 1;
    width: 60%;
    height: 10%;
    position: absolute;
    font-family: Montserrat;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    line-height: undefined;
    background: transparent;
    border: none;
    outline: none;
    color: #AFAFAF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #747474;
    left: 20%;
}

#input_block_name {
    top: 18%;
}

#input_block_email {
    top: 33%;
}

#input_block_pswd {
    top: 48%;
}

#signup_button {
    cursor: pointer;
    opacity: 1;
    width: 53%;
    height: 10%;
    position: absolute;
    left: 25%;
    top: 67%;
    background-color: rgba(249.6875050663948, 232.20940053462982, 205.99219053983688, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    outline: none;
    color: rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 1);
    font-family: Tenor Sans;
    font-size: 20px;
    letter-spacing: 0;
    line-height: undefined;
}

#no_acc_block {
    color: rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 1);
    opacity: 1;
    position: absolute;
    left: 25%;
    top: 82%;
    font-family: Montserrat;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: undefined;
}